<!--The content below is only a placeholder and can be replaced.-->
<div class="title tital_font text_align pad_top">
  <h1>
    {{title}}
  </h1>
</div>
<div class="text_align pad_top" style="padding-top:20px">
  <label class="tital_font default_text"> Enter the name of a tradeable item</label>
  <div>
    <input type="text" list="items" (input)="onKey($event)" (keypress)="validateInputChar($event)"/>
  </div>
  <datalist id="items" >
    <option *ngFor="let item of itemData" [ngValue]="item" [innerHTML]="item.name">
  </datalist>
</div>
